
<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
  <div class="jumbotron">
      <a href="/profile/new">Add your profile</a> <br> <br>
      <% if @profiles.any? %>
        <% @profiles.each do |profile| %>
            <%= profile.name %> -
            <%= profile.surname %> -
            <%= profile.location %>
            <%= profile.schedule %><br />
            <%= profile.availability %>
        <% end %>
      <% else %>
        No stored profiles
      <% end %>

      <% if @all_profiles.any? %>
         <% @all_profiles.each do |current_profile| %>
             <% if current_profile.id != @profile.id && current_profile.status == 'Mentor' %>
                 <% @mentor_availability = current_profile.availability.shift(1) %>
                     <% @student_availability.each do |check| %>
                       <% if @mentor_availability.include?(check) %>
                         <% @result << current_profile %>
                       <% end %>
                     <% end %>
                 <% end %>
             <% end %>
         <% end %>

      <%= @result %>

  </div>
</div>

</body>
