<head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<div class="btn btn-success">
<%= link_to "Go to main page", profile_index_path%>
</div>
<body>
  <div class="container">
      <% if @profile.errors.any? %>
       <section id="errors" >
         <h2> <%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved: </h2>
         <ul>
           <% @profile.errors.full_messages.each do |message| %>
             <li><%= message %></li>
           <% end %>
         </ul>
       </section>

      <% end %>
  </div>

<div class="smart-green">
  <h1>Register for Maker-Pair
    <span>Please fill all fields below: </span>
  </h1>
      <%= simple_form_for(@profile, {url: "/profile"}) do |f| %>
         <%= f.label :status %>
         <%= f.select(:status, ['Mentee', 'Mentor'], {}, { :class => 'form_class' }) %> <br />
         <%= f.label :name %>
         <%= f.text_field :name %> <br />
         <%= f.label :surname %>
         <%= f.text_field :surname %> <br />
         <%= f.label :language %>
         <%= f.text_field :language %> <br />
         <%= f.label :expertise %>
         <%= f.select(:expertise, ['Beginner', 'Intermediate', 'Advanced'], {}, { :class => 'form_class' }) %> <br />
         <%= f.label :occupation %>
         <%= f.text_field :occupation %> <br />
         <%= f.label :location %>
         <%= f.text_field :location %> <br />
         <%= f.select :availability, Profile::AVAILABILITY, {},
                                   { :multiple => true, :size => 7 }
                                  %>
               <%= f.submit %>
      <% end %>
</div>
</body>
